# Python caches
__pycache__/
*.py[cod]
*$py.class

# Local Caching Data
data_cache/
*.pkl
nse_tickers_cache.json

# Secrets and Configurations
.env
api_key.txt

# Generated Reports (PDF and Excel outputs)
*.pdf
*.xlsx

# OS-specific files
.DS_Store
Thumbs.db
